
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 15% 58% 27%;
  grid-template-rows: 5.5% 8.5% 3.5% 22.5% 2% 58%;
  height: 1200px;
}

.nav-bar {
  display: grid;
  grid-column: 2 / span 2;
  grid-template-columns: 5% 80% 5% 5% 5%;
  border-bottom: 1px solid gray;
}

#nav-icons{
  align-self: center;
  color: grey;
  height: 60px;
  justify-self: center;
  width: 60px;
  border: 15px solid white;
}

#nav-icons:hover{
  background-color: navy;
  color: white;
  border: 15px solid navy;
}

input {
  background-image: url(images/search-solid.svg);
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 2rem;
  text-indent: 3rem;
}

.side-menu {
  background-color: navy;
  grid-row: 1 / span 6;
  color: white;
  text-indent: 1rem;
}

.side-menu p:hover{
  border-left: 10px solid navy;
  color: navy;
  background-color: white;
}

.user-menu {
  text-align: center;
}

.user-menu img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 7px;
  margin-top: 25px;
  margin-bottom: 0;
}

header {
  grid-area: 2 / span 2;
  margin-left: 10px;
}

h1 {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 10px
}

h2 {
  font-size: 12px;
  margin-top: 0;

}

.menu {
  grid-area: 3 / span 2;
}

.menu p {
  font-size: 1rem;
  display: inline-block;
  margin: 5px 10px;
  padding: 0 10px;
  text-transform: uppercase;
}

.menu p:hover{
  border-bottom: 3px solid navy;
  font-weight: 700;
}

.graphs {
  display: grid;
  grid-area: 4 / span 2;
  grid-template-columns: 55% 45%;
  grid-template-rows: 4fr 1fr;
  text-align: center;
}

.circle-graphs {
  grid-row-start: 1;
  grid-template-start: 1;
}

.circle-1, .circle-2, .circle-3 {
  border-radius: 50%;
  display: inline-block;
  height: 75%;
  margin: 20px;
  margin-bottom: 0;
  width: 26%;
}

.circle-1 {
  border-top: 10px solid navy;
  border-right: 10px solid navy;
  border-bottom: 10px solid grey;
  border-left: 10px solid grey;
}

.circle-2 {
  border-top: 10px solid navy;
  border-right: 10px solid grey;
  border-bottom: 10px solid grey;
  border-left: 10px solid grey;
}

.circle-3 {
  border: 10px solid navy;
  border-left: 10px solid grey;
}

.circle-graph-btn {
  grid-row-start: 2;
}

.bar-graph {
  grid-row-start: 1;
  grid-column-start: 2;
}


.bar-graph img {
  height: 100%;
  object-fit: contain;
  padding: 1px 0;
  width: 75%;
}

.dropdown-arrow {
  grid-area: 5 / span 2;
  text-align: center;
}

.table {
  grid-area: 6;
}

table {
  border: solid black 2px;
  margin: 0 auto;
  width: 85%;
}

th, td {
  height: 4.50rem;
}
th{
  background-color: navy;
  color: white;
}

.table-left {
  width: 25%;
}

.table-right {
  width: 75%;
}

footer {
  display: block;
  grid-area: 6;
  text-align: center;
}

.social-media{
  height: 3rem;
  margin-top: 0;
  margin: 10px;
}

@media (max-width: 1250px) {

  body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 7% 2% 30% 1% 40% 15%;
  }

  .nav-bar {
    grid-area: 1 / 1;
    width: 100%;
  }

  #nav-icons {
    border-bottom: 17px solid white;
    border-top: 17px solid white;
    height: 45px;
    justify-self: center;
    width: 45px;
  }

  .side-menu {
    display: none;
  }

  header{
    grid-area: 2 / 1;
  }

  .menu {
    overflow: scroll;
    width: 100%;
  }

  .menu p {
    font-size: 0.6rem;
    margin-left: 3px;
    padding: 0;
  }

  .graphs {
    display: grid;
    grid-area: 4 / 1;
    grid-template-columns: 100%;
    grid-template-rows: 45% 5% 45% 5%;
  }

  .circle-1, .circle-2, .circle-3 {
    margin: .5rem;
  }

  .bar-graph {
    grid-area: 3 / 1;
  }

  .table {
    grid-area: 6 / 1;
  }

  td, th {
    height: 2rem;
  }

  footer {
    grid-area: 7 / 1;
  }

}