
* {
  font-family: Helvetica, sans-serif;
/*  border: 1px solid black;*/
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 15% 58% 27%;
  grid-template-rows: 5.5% 8.5% 3.5% 22.5% 2% 58%;
  height: 1200px;
}

.nav-bar {
  display: grid;
  grid-column: 2 / span 2;
  grid-template-columns: 5% 80% 5% 5% 5%;
}

#nav-icons{
  align-self: center;
  color: grey;
  height: 30px;
  justify-self: center;
  width: 30px;
}

input {
  background-image: url(images/search-solid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 3rem;
}

.side-menu {
  background-color: blue;
  grid-row: 1 / span 6;
  color: white;
}

.user-menu {
  text-align: center;
}

.user-menu img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 7px;
  margin-top: 25px;
  margin-bottom: 0;
}

header {
  grid-area: 2 / span 2;
  margin-left: 10px;
}

h1 {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 10px
}

h2 {
  font-size: 12px;
  margin-top: 0;

}

.menu {
  grid-area: 3 / span 2;
}

.menu p {
  font-size: 1rem;
  display: inline-block;
  margin: 5px 10px;
  padding: 0 10px;
}

.graphs {
  display: grid;
  grid-area: 4 / span 2;
  grid-template-columns: 55% 45%;
  grid-template-rows: 4fr 1fr;
  text-align: center;
}

.circle-graphs {
    grid-row-start: 1;
    grid-template-start: 1;
}

.circle-1, .circle-2, .circle-3 {
    border-radius: 50%;
    display: inline-block;
    height: 150px;
    margin: 20px;
    margin-bottom: 0;
    width: 150px;
}

.circle-1 {
    border-top: 7px solid blue;
    border-right: 7px solid blue;
    border-bottom: 7px solid grey;
    border-left: 7px solid grey;
}

.circle-2 {
    border-top: 7px solid blue;
    border-right: 7px solid grey;
    border-bottom: 7px solid grey;
    border-left: 7px solid grey;
}

.circle-3 {
    border: 7px solid blue;
    border-left: 7px solid grey;
}

.bar-graph {
  grid-row-start: 1;
  grid-column-start: 2;
}

.bar-graph img {
  height: 100%;
  object-fit: contain;
  padding: 1px 0;
  width: 75%;
}

.dropdown-arrow {
  grid-area: 5 / span 2;
}

.table {
  grid-area: 6;
}

table {
  border: solid black 2px;
}

thead {
  column-span: 2;
}

footer {
  grid-area: 6;
}